*{
	font-family:Tahoma;
}

body{
	padding:0;
	margin:0;
}

#currentStageImage{
	position: absolute;
	z-index:1;
}

#canvas{
	position:absolute;
	z-index:3;
}

#grid{
	position: absolute;
	z-index:2;
	display:none;
}

.info {
	position: absolute;
	top: 10px;
	margin-left: 160px;
	border: 3px solid;
	padding: 2px;
}

.buttons {
	width: 100px;
	position: absolute;
	display: block;
	top: 170px;
	margin-left: 180px;
	margin-top: 10px;
}

.UI{
	position: absolute;
	left: 900px;
	border: 1px solid black;
	background-color: #006699;
	width: 300px;
	height: 600px;
	top: 0px;
}
.message{
	position:absolute;
	margin-left: 25px;
	bottom: 280px;
}

.btnDress {
	margin-top: 10px;
	background-color: #669999;
    border: none;
    color: #fff;
    padding: 5px 14px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
	border: 1px solid black;
	border-radius: 15px;
}

.btnDress:hover{
	background-color: #517A7A;
}

.btnDress: active {
	background-color: #517A7A;
}

.turret:hover .towerStats {
	opacity:0.6;
	text-align:justify;
	color: black;
	font-size: 14px;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
	padding: 20px;
}
.towerStats{
	position: absolute;
	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	color: black;
	padding: 5px 10px;
	background: #669999;
	border: 1px solid black;
	opacity: 0;
}